/* Write your code here: */
h1,h2{
    color: blueviolet;
}
.box > .done{
    color: red;
    font-size: 1.5rem;
}
/* ul li{
    color: blue;
} */
/* ul>li{
    color: blue;
} */
.box li{
    color: blue;
}
li.done{
    color: brown;
}
ul > p.done{
    font-size: 2rem;
    color: rgb(129, 121, 168);
}